<nav>
  <div><img src="./../assets/icons/home.png"routerLink="home"><a routerLink="home">HOME</a></div>
  <div><img src="./../assets/icons/school.png" routerLink="school"><a routerLink="school">SCHOOL</a></div>
  <div><img src="./../assets/icons/music.png" routerLink="music"><a routerLink="music">MUSIC</a></div>
  <div><img src="./../assets/icons/daycare.png" routerLink="daycare"><a routerLink="daycare">DAY CARE</a></div>
  <div><img src="./../assets/icons/contact.png" routerLink="contact"><a routerLink="contact">CONTACT</a></div>
</nav>