.app-modal.wrapper {
    width: 100%;
    height: 100%;
    position: fixed;
    overflow: hidden;
    left: 0;
    top: 0;
    z-index: 1000;
}
.app-modal .content{
    width:50%;
    height: 25%;
    top:38%;
    left:25%;
    color: #000;
    position:relative;
    background: #fff;
    border: 2px solid #777;
    border-radius: 10px;
    padding: 5px 20px;
    font-weight: bold;
}
.app-modal .content.medium{height: 50%; top: 25%;}
.app-modal .content.large{height: 75%; top: 12%;}

.app-modal .content .title {border-bottom: 1px solid #777; height: 40px;}
.app-modal .content .main-content {height: calc(100% - 80px);overflow: auto;}
.app-modal .content .footer {height: 40px;padding-top: 10px; float: right;}
