<div class="tab-content">
  <div class="school-banner banner">
    <h2 class="title">Kids Academy</h2>
    <h4 class="description">Welcome to ABC Montessori Pune
      <p>An American Pre School Chain.</p>
    </h4>
    <div class="bottom-mask"></div>
    <div class="bottom-links">
      <button (click)="navigateTo('home')">Home</button>
      <button *ngIf="state == 'home'" (click)="switchTo('about')">About us</button>
      <button *ngIf="state == 'home'" (click)="switchTo('gallery')">Gallery</button>
      <button *ngIf="state == 'home'" (click)="navigateTo('contact')">Contact</button>
      <button *ngIf="state !== 'home'" (click)="switchTo('home')">Back</button>
    </div>
  </div>

  <div *ngIf="state == 'home'" [@fadeInAnimation]>
    <div class="separator-title form-control">
      <h2><span>The Philosophy</span></h2>
    </div>
    <form-control mode="list" options="Treats every child with respect, Provides clarity of direction, Provide a programme of holistic development, Provides evaluation that empowers & inspires., Cooperation not competition."></form-control>

    <div class="separator-title form-control">
      <h2><span>Subjects</span></h2>
    </div>
    <app-thumbnail *ngFor="let thumbnail of thumbnails" [thumbnail]="thumbnail"></app-thumbnail>

    <div class="announcement">
      <h2 class="title">Thanks for visiting!</h2>
      <h4>Watch this space for updates.</h4>
    </div>
  </div>

  <div *ngIf="state == 'about'" [@fadeInAnimation]>
    <div class="md-col-50 mc-left">
    <div class="separator-title form-control">
      <h2><span> Approach </span></h2>
    </div>
    <p class="about">ABC Montessori has adopted the Montessori methodology bestowed upon the world by one of the leading advocates of Early
      Childhood Education for educating and nurturing young children. It is a proven fact that 50% of child’s adult intelligence
      and 90% of adult brain patterns are developed in first five years of age. </p>
      <p class = "about">The Montessori concept helps the child in
      these most crucial formative years. The concept is based on the fact that every child has unique capabilities and pace
      of learning. It endorses the fact that children are always eager to explore new things and learn and master new skills.</p>

    <div class="separator-title form-control">
      <h2><span>Memberships</span></h2>
    </div>

    <p class="about">The International Montessori Council, USA</p>
    <p class="about">The American Montessori Society, USA</p>
    </div>
    <div class="md-col-50 mc-left">
    <div class="separator-title form-control">
      <h2><span>Follow us</span></h2>
    </div>
    <iframe class="abc-page" src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2FAbc-Montessori-151165522123415%2F&tabs=timeline&width=500&height=700&small_header=true&adapt_container_width=true&hide_cover=true&show_facepile=false&appId" width="100%" height="700" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true"></iframe>
    </div>
  </div>

  <div *ngIf="state == 'gallery'" [@fadeInAnimation]>
    <div class="separator-title form-control">
      <h2><span>Material</span></h2>
    </div>
    <app-thumbnail *ngFor="let thumbnail of materialGallery" [thumbnail]="thumbnail"></app-thumbnail>

    <div class="separator-title form-control">
      <h2><span>Events</span></h2>
    </div>
    <app-thumbnail *ngFor="let thumbnail of gallery" [thumbnail]="thumbnail"></app-thumbnail>


  </div>

</div>